/* global style by tag name */
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.p-10 {
  padding: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(51, 51, 51, 0.8);
}

p {
  margin: 0px;
}

/* text-align */
.text-center {
  text-align: center;
}

.content {
  width: 90%;
  margin: 0 auto;
  /* background: brown; */
  height: 100%;
}

/* main */
div#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

div#content {
  width: 90%;
  border: 2px solid rebeccapurple;
}

/* header */

ul > a {
  transition: 0.5 all;
}

nav#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
}

div#inner-nav {
  display: flex;
  justify-content: space-between;
}

div#fitness-logo-wrapper {
  width: 60%;
  display: flex;
  justify-content: left;
  align-items: center;
}

img#fitness-logo {
  width: 175px;
  height: 60px;
  object-fit: contain;
}

ul#header-list {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

#header-listItem {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Raleway-Light";
}
#header-listItem:focus {
  text-decoration: underline;
}

#header-listItem::after {
  transition: all 0.3s ease-in-out 0s;
}

/* home section */

div#home {
  height: 100vh;
}

/* services section */

div#services {
  padding-top: 80px;
}

p.card-title {
  font-size: 24px;
  margin-top: 20px;
}
#socail-logos-wrapper {
  text-align: center;
}

.icon-wrapper {
  margin: 10px;
}

/* join  now section */

div#joinNow {
  /* height: 100vh; */
  background-color: #474747;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
div#join-now-inner-container {
  display: flex;
  box-sizing: border-box;
  background: rebeccapurple;
  height: 400px;
}
div.signup-form {
  background: #474747;
  display: inline-grid;
  align-items: center;
}
div.input-wrapper {
  border-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  width: 95%;
  margin: 0 auto;
}
.input {
  background: #474747;
  border-style: none;
  border: none;
  width: 90%;
  border-radius: 0px;
}

.textarea {
  height: 100px;
  background: #474747;
  border: none;
  border-style: none;
  width: 90%;
}
.signup-btn-wrapper {
  border-style: none;
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.signup-btn {
  border: 1px solid #ffffff !important;
  width: 100%;
}

/* price section */

div#price {
  padding-top: 80px;
  padding-bottom: 80px;
}

div.price-box {
  border: 5px solid black;
  text-align: center;
  margin-top: 50px;
}
p.plan-name {
  margin-top: 50px;
  margin-bottom: 20px;
}
p.plan-amount {
  font-size: 45px;
}

.ordernow-btn {
  width: 150px;
  margin-bottom: 40px;
  margin-top: 20px;
}
/* team section */

div#team {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f8f8f8;
}

#team-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0em;
}
.img-title {
  font-size: 20px;
  margin-top: 20px;
}

#team-subtitle {
  font-size: 40px;
  margin-bottom: 50px;
}

#team-subtitle > strong {
  text-transform: uppercase;
}

#team-subtitle > span {
  border-bottom: 2px solid black;
}

.team-card-wrapper {
  display: flex;
  width: 100%;
}

#team-card {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 60px;
}

#team-image-wrapper {
  width: 100%;
  background-color: red;
}

#team-image {
  width: inherit;
}

/* ContactUs */

div#contactUs {
  background-color: #474747;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contactus-title {
  font-size: 25px;
}
div#icon-container {
  margin-top: 20px;
  display: flex;
}
.icon-div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

div#facebook:hover {
  transition: 0.4s linear;
  background-color: #3b5998;
  color: #fff;
}
div#twitter:hover {
  transition: 0.4s linear;
  background-color: #00aced;
  color: #fff;
}
div#google-plus:hover {
  transition: 0.4s linear;
  background-color: #dd4b39;
  color: #fff;
}
div#linkedin:hover {
  transition: 0.4s linear;
  background-color: #007bb6;
  color: #fff;
}
div#youtube:hover {
  transition: 0.4s linear;
  background-color: #da2723;
  color: #fff;
}
div#instagram:hover {
  transition: 0.4s linear;
  background-color: #966842;
  color: #fff;
}

/* footer section */

div#footer {
  height: 100px;
  background-color: #333;
}
.footer-text {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: #ffffff;
}

/* back to top btn */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: #333;
}

#myBtn:hover {
  transition: 0.6s all ease-in-out;
  border: 2px solid #333;
  background-color: #fff;
  color: #000000;
}
